<% layout('/layouts/boilerplate.ejs') -%>
<script>
  let Token = "<%= process.env.MAP_TOKEN %>"
  let listing = <%- JSON.stringify(listing) %>
</script>

<div class="row">
  <h3 class="mt-4 text-center"><%= listing.title %></h3>

  <img src="<%=listing.image.url%>" class="card-img-top" style="height: 20rem" alt="listing" />
  <ul>
    <br /><br />

    <li><%= listing.description %></li>
    <li>&#8377; <%= listing.price.toLocaleString("en-IN") %></li>
    <li><%= listing.location %></li>
    <li><%= listing.country %></li>
  </ul>
  <br />
  <div class="col-3">
    <a class="btn btn-danger " href="/listings/<%= listing._id %>/edit">Edit</a>
  </div>
  <br />
  <div class="col-1">
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
      <button class="btn btn-danger">Delete</button>
    </form>
  </div>

  <div>
    <hr />
    <h4>Leave a Review</h4>
    <form action="/listings/<%= listing.id  %>/reviews" method="post" novalidate class="needs-validation">
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label"></label>
        <fieldset class="starability-slot">
          <legend>First rating:</legend>

          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <div class="invalid-feedback">Please give a Star</div>
      </div>

      <div class="mb-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea
          name="review[comment]"
          id="comment"
          cols="50"
          rows="5"
          class="form-control"
          placeholder="Describe your Expierience(optional)"
        ></textarea>
        <div class="invalid-feedback">Please give a message to textarea</div>
      </div>
      <button class="btn btn-danger mt-2">Submit</button>
    </form>
    <hr />

    <% if(listing.reviews.length > 0 ) {%>
    <div class="row">
      <h4>All Reviews</h4>
      <% for(review of listing.reviews) {%>
      <div class="card col-5 ms-4 mb-3">
        <div class="card-body">
          <h5 class="card-title">John Doe</h5>
          <p class="starability-result card-text" data-rating="<%= review.rating  %>"></p>
          <p class="card-text"><%= review.comment %></p>
        </div>
        <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE " class="mb-3" method="post">
          <button class="btn btn-dark btn-sm">Delete</button>
        </form>
      </div>
      <% } %>
    </div>
    <% } %>

    <div class="col-6 mb-3">
      <h3>Where you'll be</h3>
      <div id="map"></div>
    </div>
  </div>
</div>

<script src="/js/map.js"></script>
